body {
    background-color: rgb(13, 22, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Creepster', cursive;

}

#labelJoin{
    display: flex;
    display: block;
    margin-left: 10%;
    margin-top: 10%;    
    font-size: 180%;
    color: #ffffff;
    height: 20%;
}

#playerName{
    display: flex;
    display: block;
    margin-left: 15%;
    height: 20%;
    width: 70%;
    font-size: 140%;
    color: #ffffff;
    border-radius: 6px;
    border-color: #942d29;
    background-color: #942d29;
}

#spanJoin {
    display: flex;
    display: block;
    color: rgb(181, 35, 35);
    font-size: 100%;
    margin-bottom: 10%;
    margin-left: 25%;
}

#buttonJoin{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 7%;
    font-family: 'Creepster', cursive;
    font-size: 140%;
    border-style: double;
    border-radius: 10px;
}
