.cardGroup {
    display: flex;
    justify-content: center; 
    position: fixed;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.cornerCard {
    position: absolute;
    right: 245px; /* Ajusta la distancia desde la derecha */
    top: 325px; /* Ajusta la distancia desde arriba para superponerla sobre las otras cartas */
  }