.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    position: relative;
}

.playersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}