.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.title{
    display: flex;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: bold;
    margin-left: 47%; 
}

.span{
    display: flex;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.5vh;
    margin-left: 46.5%;
}

.button{
    width: 30%;
    margin-left: 35%;
}

.chat{
    margin-left: 78%;
    position: absolute;
}

.logs{
    margin-top: 17%;
    position:absolute;
}