.chairStyle {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100%; 
}

.dead {
    background-color: #FF0000;
}

.alive {
    background-color: #0000FF;
}

.turn {
    background-color: #fbff00;
}
