@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.textAndCardsContainer {
  position: relative;
  width: 700px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 200px;
  width: 150px; 
  margin-right: 10px;
  border-radius: 10px ;
  transition: 0.5s ease-out;
  background-color: #6022dd;
  position: relative;
  left: 0px;
  box-shadow: -0.1rem 0 1rem #000;
}

.text{
  font-family: 'Creepster', ;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  text-align: center;
  margin-top: 16%; 
}
